body{
    margin: 0;
    font-family:cursive;


}

.navbar{
  
    display: flex;
    justify-content: space-between;
    background-color: rgb(156, 158, 155);
    border: 10px solid gray;
    padding:10px;
    outline: 8px solid greenyellow;
}




.logo img{
    width: 80px;
    border: 3px dotted white;
    border-radius: 50%;
    margin-left: 20px;
}

.link ul{
    list-style: none;
    display: flex;
    margin-right: 140px;
    line-height: 50px;
}

.link ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 50px;
}

ul li a:hover{
    font-size: larger;
    font-weight: bold;
    color: greenyellow;
    padding-left: 40px;
    padding-right: 40px;
}

ul li :hover{
    border: 3px solid greenyellow; 
    border-radius: 25px;
}

.banner{
    
    background:linear-gradient(rgba(0, 0, 0, 0.521),rgba(2, 32, 108, 0.573)), url(./img/main-bg.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 200px 120px;
    background-position: center;
    text-align: center;
    color: white;
    
}

.survices{
    padding: 100px;

}

.our-services{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    grid-template-rows: 3fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}
.our-services .in1 a{
    text-decoration: none;
    font-weight: bold;
    color: red;
} 


.in1{
    border: 2px dotted black;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px ;
}



.contact{
    padding: 100px;
    padding-top: 0px;
    text-align: center;
}


.contact input, textarea{
    width: 80%;
    padding: 15px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 12px;

}

.contact button{
    padding:16px 25px  ;
    border-radius: 10px;
    color: white;
    background: black;
    border: 2px solid greenyellow;
}


.contact form{
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}


.footer{
    background:black ;
    color: white;
    text-align: center;
    padding: 15px;
   
}

/* Roulse */

.rouls{
    
    width: 70%;
    border: 2px solid rgba(65, 226, 65, 0.623);
    padding-left: 90px;
    margin-left: 300px;
   outline:5px dotted rgba(65, 226, 65, 0.699) ;
   
    margin: 0 auto;
    margin-bottom: 10px;
}

/* sports */

.sports-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,4fr);
    grid-template-rows: 4fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}
.inn1{
    border: 2px solid gray;
    padding:20px;
    margin: 40px;
    border-radius: 20px;
}
.inn1 a{
    text-decoration: none;

}
/* sports  .. champion */
.inner1{
   
    display: grid;
    grid-template-columns: repeat(5,3fr);
    grid-template-rows: 3fr;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.inner2{
    border: 2px dotted black;
    padding: 10px;
    text-align: center;
    margin: 1px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px ;
    
}

.champ{
    margin-top: 10px;
    text-align: center;
    box-shadow:4px 4px 20px ;
    border: 2px solid black;
}

